<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form action="/" method="POST">
    <div>
        <label for="username">Username: </label>
        <input id="username" name="username" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>